// [------------------------------ STATIC COLORS ------------------------------]

$white: rgb(255, 255, 255);
$whiteHover: rgb(242, 242, 242);
$black: rgb(0, 0, 0);
$blackOpacity: rgba(0, 0, 0, 0.7);
$danger: rgb(255, 0, 0);
$gray: rgb(204, 204, 204);

// [------------------------------ ALPHA COLORS ------------------------------]

@function black($decimalOpacity: 1) {
  @return rgba(0, 0, 0, $decimalOpacity);
}
