@import "@scss/styleguide";

.container {
  text-align: center;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blackOpacity;
  z-index: $z-index-modal;
}

.modal {
  background-color: $white;
  border: 1px solid $gray;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.modalHeader {
  color: $black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid $gray;
  font-weight: $medium;
}

.modalContent {
  padding: 10px;
  width: 800px;
  height: 400px;
  max-width: 800px;
  min-height: 400px;
  max-height: 400px;
  min-width: 800px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.downloadAll {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-top: 1px solid $gray;
  background-color: $white;
  margin-top: 10px;
}

.downloadText {
  margin: 0;
  margin-right: 10px;
}
.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.button {
  background: $gradientBlue;
  border: 1px solid $white;
  border-radius: 5px;
  color: $white;
  cursor: pointer;
  padding: 10px;
}
