@import "@scss/styleguide";

.bodyContainer{
  font-family: sans-serif;
  background: $gradientBlue;
  min-height: 100vh;
  margin: 0;
  padding: 0 20%;
  color: $white;
}

.mainTitle{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  padding-top: 20px;
  margin-bottom: 20px;
  @media (max-width: 768px) {
    font-size: 40px;
  } 
}

.subtitle{
  padding-bottom: 20px;
  text-align: justify;
}

.homeContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  gap: 10px;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center; // Added for centering in mobile view
  }
}

.homeContainer ul {
  padding-inline-start: 0;
  list-style-type: none;
}

.leftContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; // Adjusted width for mobile view
  margin-top: 20px;

  @media (max-width: 768px) {
    width: 80%; // Adjusted width for mobile view
  }
}

.rightContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; // Adjusted width for mobile view
  margin-top: 20px;

  @media (max-width: 768px) {
    margin-top: 40px;
    width: 80%; // Adjusted width for mobile view
    margin-bottom: 20px;
  }
}

.subFolders {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  @media (max-width: 768px) {
    margin-top: 10px; // Adjusted margin for mobile view
  }
}

.categoryTitle {
  font-weight: $bold;
}

.button {
  width: fit-content;
  min-width: 250px;
  max-width: 250px;
  height: auto;
  padding: 12px 20px; // Aumenta el espaciado interno
  border-radius: 10px; // Agrega bordes redondeados
  cursor: pointer;
  background-color: $white;
  color: $black;
  font-weight: $regular;
  transition: all 0.2s ease-in-out 0ms;
  user-select: none;
  margin-bottom: 20px;
}

.infoButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: fit-content;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s ease-in-out 0ms;
  text-align: center;
  color: $white;
  margin-bottom: 25px;
  font-weight: $medium;
  text-decoration: underline;
}

.infoIcon {
  height: 24px;
  width: 24px;
  fill: $white;
}

.subFoldersButton {
  width: fit-content;
  min-width: 225px;
  max-width: 225px;
  height: auto;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  background-color: $white;
  color: $black;
  font-weight: $regular;
  transition: all 0.1s ease-in-out 0ms;
  user-select: none;
  text-align: center;
}

.subFoldersButton:hover {
  box-shadow: 0 2px 8px #bbb;
}

.subItemFoldersButton{
  align-items: center;
  width: fit-content;
  min-width: 190px;
  max-width: 190px;
  height: auto;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  background-color: $white;
  color: $black;
  font-weight: $regular;
  transition: all 0.1s ease-in-out 0ms;
  user-select: none;
  text-align: center;
}

.fideicomisoButton{
  margin-bottom: 20px;
}

.button:hover {
  box-shadow: 0 2px 8px #bbb;
}

.button:active {
  box-shadow: 0 2px 8px #bbb;
}
